/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes fade-in--down-right {
  from {
    transform: translate(-60%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes shadow-slide--pos {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 1.5rem;
    left: 1.5rem;
  }
}
@keyframes shadow-slide--neg {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: -1.5rem;
    left: -1.5rem;
  }
}
@keyframes grow {
  0% {
    height: 0;
    width: 0;
    transform: rotate(0);
  }
  20% {
    height: 100px;
    width: 100px;
    transform: rotate(0);
  }
  40% {
    height: 150px;
    width: 150px;
    transform: rotate(51.5deg);
  }
  60% {
    height: 200px;
    width: 200px;
    transform: rotate(103deg);
  }
  80% {
    height: 250px;
    width: 250px;
    transform: rotate(154.5deg);
  }
  100% {
    height: 300px;
    width: 300px;
    transform: rotate(206deg);
  }
}
@keyframes blur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(1px);
  }
}
/* line 1, ../sass/_helpers.scss */
.text-right, .about-me-name {
  text-align: right;
}

/* line 11, ../sass/about.scss */
.about-page {
  background: #222222;
  color: #fafafa;
  font-family: 'Abril Fatface', cursive;
  transition: 500ms;
}

/* line 18, ../sass/about.scss */
.title, .about-me, .about-me-name {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  z-index: 100;
}

/* line 25, ../sass/about.scss */
.about-me {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

/* line 32, ../sass/about.scss */
.about-me-name {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

/* line 41, ../sass/about.scss */
.about-info-container {
  display: none;
}

/* line 47, ../sass/about.scss */
.page-center, .corner-button, .tidbit-image-section-container, .tidbit-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 54, ../sass/about.scss */
.fade-in--slow-right--animation, .tidbit-image-section-container, .tidbit-container.animated {
  animation-name: fade-in--down-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* line 65, ../sass/about.scss */
.corner {
  height: 4rem;
  width: 4rem;
  position: absolute;
  background: #fafafa;
  cursor: pointer;
}
/* line 71, ../sass/about.scss */
.corner.top {
  top: 0;
}
/* line 72, ../sass/about.scss */
.corner.left {
  left: 0;
}
/* line 73, ../sass/about.scss */
.corner.right {
  right: 0;
}
/* line 74, ../sass/about.scss */
.corner.bottom {
  bottom: 0;
}

/* line 77, ../sass/about.scss */
.corner-button {
  height: 2rem;
  width: 2rem;
  opacity: 0;
  padding: 1rem;
  transition: 1s;
}
/* line 83, ../sass/about.scss */
.corner-button:hover {
  opacity: 1;
}

/* line 88, ../sass/about.scss */
.tidbit-image-section-container {
  align-items: center;
  background: #fafafa;
  border: 5px solid #fafafa;
  display: flex;
  justify-content: center;
}

/* line 99, ../sass/about.scss */
.tidbit-image-container {
  overflow: hidden;
}

/* line 103, ../sass/about.scss */
.image {
  background-color: #fafafa;
  background-image: url("/images/about/blue.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 30rem;
  position: relative;
  z-index: 1;
  animation-name: blur;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* line 120, ../sass/about.scss */
.image-shadow {
  background: #fafafa;
  position: absolute;
  height: 20rem;
  width: 30rem;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
/* line 125, ../sass/about.scss */
.image-shadow.top {
  animation-name: shadow-slide--pos;
}
/* line 128, ../sass/about.scss */
.image-shadow.bottom {
  animation-name: shadow-slide--neg;
}

/* line 138, ../sass/about.scss */
.tidbit-container {
  opacity: 0;
  width: 100%;
  z-index: 5;
}
/* line 139, ../sass/about.scss */
.tidbit-container.animated {
  animation-delay: 0.5s;
}

/* line 149, ../sass/about.scss */
.tidbit-line {
  color: #222;
  font-family: 'Abril Fatface';
  font-size: 9vh;
  letter-spacing: .5rem;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px #fafafa;
}

/* line 160, ../sass/about.scss */
.septagon:hover {
  cursor: pointer;
}
