$pink: #eec0c0;
$red: #cf9c9c;
$orange: #e5ba9c;
// $yellow: #d5c59d;
$yellow: #ddd0af;
// $green: #A7BEAB;
$green: #bdcec0;
$blue: #AADBFF;
// $purple: #9887b7;
$purple: #b4a7ca;

$white: #fafafa;
$light: #DDDDDD;
$dark: #6D7278;
$black: #222222;