/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_animations";
@import "_helpers";
@import "_variables";

.about-page {
  background: $black;
  color: $white;
  font-family: 'Abril Fatface', cursive;
  transition: 500ms;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  z-index: 100;
}


.about-me {
  @extend .title;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.about-me-name {
  @extend .title;
  @extend .text-right;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}


.about-info-container {
  display: none;
}



.page-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fade-in--slow-right--animation {
  animation-name: fade-in--down-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}





.corner {
  height: 4rem;
  width: 4rem;
  position: absolute;
  background: $white;
  cursor: pointer;
  &.top { top: 0; }
  &.left { left: 0; }
  &.right { right: 0; }
  &.bottom { bottom: 0; }
}

.corner-button {
  @extend .page-center;
  @include square(2rem);
  opacity: 0;
  padding: 1rem;
  transition: 1s;
  &:hover {
    opacity: 1;
  }
}

.tidbit-image-section-container {
  @extend .page-center;
  @extend .fade-in--slow-right--animation;

  align-items: center;
  background: $white;
  border: 5px solid $white;
  display: flex;
  justify-content: center;
}

.tidbit-image-container {
  overflow: hidden;
}

.image {
  background-color: $white;
  background-image: url('/images/about/blue.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 30rem;
  position: relative;
  z-index: 1;

  animation-name: blur;
  // animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.image-shadow {
  background: $white;
  position: absolute;
  height: 20rem;
  width: 30rem;
  &.top {
    animation-name: shadow-slide--pos;
  }
  &.bottom {
    animation-name: shadow-slide--neg;
  }

  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.tidbit-container {
  &.animated {
    @extend .fade-in--slow-right--animation;
    animation-delay: 0.5s;
  }
  @extend .page-center;
  opacity: 0;
  width: 100%;
  z-index: 5;
}

.tidbit-line {
  color: #222;
  font-family: 'Abril Fatface';
  font-size: 9vh;
  letter-spacing: .5rem;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px $white;
}

.septagon {
  &:hover {
    cursor: pointer;
  }
}
